html, body { height: 100%; }
.lightbox {
  display: none;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
}

.x-out {
  color: white;
}